[submodule "terraform-aws-opensearch"]
	path = terraform-aws-opensearch
	url = git@github.com:c0x12c/terraform-aws-opensearch.git
	branch = master
[submodule "terraform-aws-password-policy"]
	path = terraform-aws-password-policy
	url = git@github.com:c0x12c/terraform-aws-password-policy.git
	branch = master
[submodule "terraform-aws-mwaa"]
	path = terraform-aws-mwaa
	url = git@github.com:c0x12c/terraform-aws-mwaa.git
	branch = master
[submodule "terraform-aws-kms"]
	path = terraform-aws-kms
	url = git@github.com:c0x12c/terraform-aws-kms.git
	branch = master
[submodule "terraform-aws-secret-manager"]
	path = terraform-aws-secret-manager
	url = git@github.com:c0x12c/terraform-aws-secret-manager.git
	branch = master
[submodule "terraform-aws-cloudwatch"]
	path = terraform-aws-cloudwatch
	url = git@github.com:c0x12c/terraform-aws-cloudwatch.git
	branch = master
[submodule "terraform-aws-github-self-hosted-runners"]
	path = terraform-aws-github-self-hosted-runners
	url = git@github.com:c0x12c/terraform-aws-github-self-hosted-runners.git
	branch = master
[submodule "terraform-aws-s3"]
	path = terraform-aws-s3
	url = git@github.com:c0x12c/terraform-aws-s3.git
	branch = master
[submodule "terraform-aws-security-group"]
	path = terraform-aws-security-group
	url = git@github.com:c0x12c/terraform-aws-security-group.git
	branch = master
[submodule "terraform-aws-eks-rbac"]
	path = terraform-aws-eks-rbac
	url = git@github.com:c0x12c/terraform-aws-eks-rbac.git
	branch = master
[submodule "terraform-aws-eks-cluster"]
	path = terraform-aws-eks-cluster
	url = git@github.com:c0x12c/terraform-aws-eks-cluster.git
	branch = master
[submodule "terraform-aws-sns"]
	path = terraform-aws-sns
	url = git@github.com:c0x12c/terraform-aws-sns.git
	branch = master
[submodule "terraform-aws-sendgrid"]
	path = terraform-aws-sendgrid
	url = git@github.com:c0x12c/terraform-aws-sendgrid.git
	branch = master
[submodule "terraform-aws-vpn"]
	path = terraform-aws-vpn
	url = git@github.com:c0x12c/terraform-aws-vpn.git
	branch = master
[submodule "terraform-aws-wafv2"]
	path = terraform-aws-wafv2
	url = git@github.com:c0x12c/terraform-aws-wafv2.git
	branch = master
[submodule "terraform-aws-static-website"]
	path = terraform-aws-static-website
	url = git@github.com:c0x12c/terraform-aws-static-website.git
	branch = master
[submodule "terraform-aws-vpc-endpoints"]
	path = terraform-aws-vpc-endpoints
	url = git@github.com:c0x12c/terraform-aws-vpc-endpoints.git
	branch = master
[submodule "terraform-aws-alb"]
	path = terraform-aws-alb
	url = git@github.com:c0x12c/terraform-aws-alb.git
	branch = master
[submodule "terraform-aws-oidc"]
	path = terraform-aws-oidc
	url = git@github.com:c0x12c/terraform-aws-oidc.git
	branch = master
[submodule "terraform-aws-ecr"]
	path = terraform-aws-ecr
	url = git@github.com:c0x12c/terraform-aws-ecr.git
	branch = master
[submodule "terraform-aws-sqs"]
	path = terraform-aws-sqs
	url = git@github.com:c0x12c/terraform-aws-sqs.git
	branch = master
[submodule "terraform-aws-amplify"]
	path = terraform-aws-amplify
	url = git@github.com:c0x12c/terraform-aws-amplify.git
	branch = master
[submodule "terraform-aws-cloudtrail"]
	path = terraform-aws-cloudtrail
	url = git@github.com:c0x12c/terraform-aws-cloudtrail.git
	branch = master
[submodule "terraform-aws-openvpn"]
	path = terraform-aws-openvpn
	url = git@github.com:c0x12c/terraform-aws-openvpn.git
	branch = master
[submodule "terraform-aws-ecs-cluster"]
	path = terraform-aws-ecs-cluster
	url = git@github.com:c0x12c/terraform-aws-ecs-cluster.git
	branch = master
[submodule "terraform-aws-vanta"]
	path = terraform-aws-vanta
	url = git@github.com:c0x12c/terraform-aws-vanta.git
	branch = master
[submodule "terraform-aws-iam-sso"]
	path = terraform-aws-iam-sso
	url = git@github.com:c0x12c/terraform-aws-iam-sso.git
	branch = master
[submodule "terraform-aws-ecs-application"]
	path = terraform-aws-ecs-application
	url = git@github.com:c0x12c/terraform-aws-ecs-application.git
	branch = master
[submodule "terraform-aws-eks-helm"]
	path = terraform-aws-eks-helm
	url = git@github.com:c0x12c/terraform-aws-eks-helm.git
	branch = master
[submodule "terraform-aws-vpc"]
	path = terraform-aws-vpc
	url = git@github.com:c0x12c/terraform-aws-vpc.git
	branch = master
[submodule "terraform-aws-ssm-parameter"]
	path = terraform-aws-ssm-parameter
	url = git@github.com:c0x12c/terraform-aws-ssm-parameter.git
	branch = master
[submodule "terraform-aws-guardduty"]
	path = terraform-aws-guardduty
	url = git@github.com:c0x12c/terraform-aws-guardduty.git
	branch = master
[submodule "terraform-aws-ses"]
	path = terraform-aws-ses
	url = git@github.com:c0x12c/terraform-aws-ses.git
	branch = master
[submodule "terraform-aws-elasticache"]
	path = terraform-aws-elasticache
	url = git@github.com:c0x12c/terraform-aws-elasticache.git
	branch = master
[submodule "terraform-aws-eks-access-entry"]
	path = terraform-aws-eks-access-entry
	url = git@github.com:c0x12c/terraform-aws-eks-access-entry.git
	branch = master
[submodule "terraform-aws-rds"]
	path = terraform-aws-rds
	url = git@github.com:c0x12c/terraform-aws-rds.git
	branch = master
[submodule "terraform-aws-eks-service"]
	path = terraform-aws-eks-service
	url = git@github.com:c0x12c/terraform-aws-eks-service.git
	branch = master
[submodule "terraform-aws-password-generator"]
	path = terraform-aws-password-generator
	url = git@github.com:c0x12c/terraform-aws-password-generator.git
	branch = master
[submodule "terraform-aws-efs"]
	path = terraform-aws-efs
	url = git@github.com:c0x12c/terraform-aws-efs.git
	branch = master
[submodule "terraform-aws-schedulers"]
	path = terraform-aws-schedulers
	url = git@github.com:c0x12c/terraform-aws-schedulers.git
	branch = master
[submodule "terraform-aws-acm"]
	path = terraform-aws-acm
	url = git@github.com:c0x12c/terraform-aws-acm.git
	branch = master
[submodule "terraform-aws-route53"]
	path = terraform-aws-route53
	url = git@github.com:c0x12c/terraform-aws-route53.git
	branch = master
[submodule "terraform-aws-identity-provider"]
	path = terraform-aws-identity-provider
	url = git@github.com:c0x12c/terraform-aws-identity-provider.git
	branch = master
[submodule "terraform-datadog-monitors"]
	path = terraform-datadog-monitors
	url = git@github.com:c0x12c/terraform-datadog-monitors.git
	branch = master
[submodule "terraform-datadog-aws-monitor"]
	path = terraform-datadog-aws-monitor
	url = git@github.com:c0x12c/terraform-datadog-aws-monitor.git
	branch = master
[submodule "terraform-datadog-service-monitor"]
	path = terraform-datadog-service-monitor
	url = git@github.com:c0x12c/terraform-datadog-service-monitor.git
	branch = master
[submodule "terraform-datadog-aws-integration"]
	path = terraform-datadog-aws-integration
	url = git@github.com:c0x12c/terraform-datadog-aws-integration.git
	branch = master
[submodule "terraform-datadog-mono-monitor"]
	path = terraform-datadog-mono-monitor
	url = git@github.com:c0x12c/terraform-datadog-mono-monitor.git
	branch = master
[submodule "terraform-datadog-dashboard"]
	path = terraform-datadog-dashboard
	url = git@github.com:c0x12c/terraform-datadog-dashboard.git
	branch = master
[submodule "terraform-datadog-gcp-integration"]
	path = terraform-datadog-gcp-integration
	url = git@github.com:c0x12c/terraform-datadog-gcp-integration.git
	branch = master
[submodule "terraform-gcp-postgresql"]
	path = terraform-gcp-postgresql
	url = git@github.com:c0x12c/terraform-gcp-postgresql.git
	branch = master
[submodule "terraform-gcp-service-config"]
	path = terraform-gcp-service-config
	url = git@github.com:c0x12c/terraform-gcp-service-config.git
	branch = master
[submodule "terraform-gcp-project-service"]
	path = terraform-gcp-project-service
	url = git@github.com:c0x12c/terraform-gcp-project-service.git
	branch = master
[submodule "terraform-gcp-iam-member"]
	path = terraform-gcp-iam-member
	url = git@github.com:c0x12c/terraform-gcp-iam-member.git
	branch = master
[submodule "terraform-gcp-google-monitoring"]
	path = terraform-gcp-google-monitoring
	url = git@github.com:c0x12c/terraform-gcp-google-monitoring.git
	branch = master
[submodule "terraform-gcp-github-oidc"]
	path = terraform-gcp-github-oidc
	url = git@github.com:c0x12c/terraform-gcp-github-oidc.git
	branch = master
[submodule "terraform-gcp-wildcard-sslcert"]
	path = terraform-gcp-wildcard-sslcert
	url = git@github.com:c0x12c/terraform-gcp-wildcard-sslcert.git
	branch = master
[submodule "terraform-gcp-redis-cluster"]
	path = terraform-gcp-redis-cluster
	url = git@github.com:c0x12c/terraform-gcp-redis-cluster.git
	branch = master
[submodule "terraform-gcp-gke-autopilot"]
	path = terraform-gcp-gke-autopilot
	url = git@github.com:c0x12c/terraform-gcp-gke-autopilot.git
	branch = master
[submodule "terraform-gcp-service-connection-policies"]
	path = terraform-gcp-service-connection-policies
	url = git@github.com:c0x12c/terraform-gcp-service-connection-policies.git
	branch = master
[submodule "terraform-gcp-storage-bucket"]
	path = terraform-gcp-storage-bucket
	url = git@github.com:c0x12c/terraform-gcp-storage-bucket.git
	branch = master
[submodule "terraform-gcp-openvpn"]
	path = terraform-gcp-openvpn
	url = git@github.com:c0x12c/terraform-gcp-openvpn.git
	branch = master
[submodule "terraform-gcp-google-workspace"]
	path = terraform-gcp-google-workspace
	url = git@github.com:c0x12c/terraform-gcp-google-workspace.git
	branch = master
[submodule "terraform-gcp-service-account"]
	path = terraform-gcp-service-account
	url = git@github.com:c0x12c/terraform-gcp-service-account.git
	branch = master
[submodule "terraform-gcp-vpc"]
	path = terraform-gcp-vpc
	url = git@github.com:c0x12c/terraform-gcp-vpc.git
	branch = master
[submodule "terraform-gcp-gke-gateway-api"]
	path = terraform-gcp-gke-gateway-api
	url = git@github.com:c0x12c/terraform-gcp-gke-gateway-api.git
	branch = master
[submodule "terraform-gcp-artifact-registry"]
	path = terraform-gcp-artifact-registry
	url = git@github.com:c0x12c/terraform-gcp-artifact-registry.git
	branch = master
[submodule "terraform-gcp-gke-ingress"]
	path = terraform-gcp-gke-ingress
	url = git@github.com:c0x12c/terraform-gcp-gke-ingress.git
	branch = master
[submodule "terraform-gcp-cloud-dns"]
	path = terraform-gcp-cloud-dns
	url = git@github.com:c0x12c/terraform-gcp-cloud-dns.git
	branch = master
