[submodule "terraform-aws-opensearch"]
	path = terraform-aws-opensearch
	url = git@github.com:c0x12c/terraform-aws-opensearch.git
	branch = master
[submodule "terraform-aws-password-policy"]
	path = terraform-aws-password-policy
	url = git@github.com:c0x12c/terraform-aws-password-policy.git
	branch = master
[submodule "terraform-aws-mwaa"]
	path = terraform-aws-mwaa
	url = git@github.com:c0x12c/terraform-aws-mwaa.git
	branch = master
[submodule "terraform-aws-kms"]
	path = terraform-aws-kms
	url = git@github.com:c0x12c/terraform-aws-kms.git
	branch = master
[submodule "terraform-aws-secret-manager"]
	path = terraform-aws-secret-manager
	url = git@github.com:c0x12c/terraform-aws-secret-manager.git
	branch = master
[submodule "terraform-aws-cloudwatch"]
	path = terraform-aws-cloudwatch
	url = git@github.com:c0x12c/terraform-aws-cloudwatch.git
	branch = master
[submodule "terraform-aws-github-self-hosted-runners"]
	path = terraform-aws-github-self-hosted-runners
	url = git@github.com:c0x12c/terraform-aws-github-self-hosted-runners.git
	branch = master
[submodule "terraform-aws-s3"]
	path = terraform-aws-s3
	url = git@github.com:c0x12c/terraform-aws-s3.git
	branch = master
[submodule "terraform-aws-security-group"]
	path = terraform-aws-security-group
	url = git@github.com:c0x12c/terraform-aws-security-group.git
	branch = master
[submodule "terraform-aws-eks-rbac"]
	path = terraform-aws-eks-rbac
	url = git@github.com:c0x12c/terraform-aws-eks-rbac.git
	branch = master
[submodule "terraform-aws-eks-cluster"]
	path = terraform-aws-eks-cluster
	url = git@github.com:c0x12c/terraform-aws-eks-cluster.git
	branch = master
[submodule "terraform-aws-sns"]
	path = terraform-aws-sns
	url = git@github.com:c0x12c/terraform-aws-sns.git
	branch = master
[submodule "terraform-aws-sendgrid"]
	path = terraform-aws-sendgrid
	url = git@github.com:c0x12c/terraform-aws-sendgrid.git
	branch = master
[submodule "terraform-aws-vpn"]
	path = terraform-aws-vpn
	url = git@github.com:c0x12c/terraform-aws-vpn.git
	branch = master
[submodule "terraform-aws-wafv2"]
	path = terraform-aws-wafv2
	url = git@github.com:c0x12c/terraform-aws-wafv2.git
	branch = master
[submodule "terraform-aws-static-website"]
	path = terraform-aws-static-website
	url = git@github.com:c0x12c/terraform-aws-static-website.git
	branch = master
