[submodule "terraform-aws-opensearch"]
	path = terraform-aws-opensearch
	url = git@github.com:c0x12c/terraform-aws-opensearch.git
	branch = master
[submodule "terraform-aws-password-policy"]
	path = terraform-aws-password-policy
	url = git@github.com:c0x12c/terraform-aws-password-policy.git
	branch = master
[submodule "terraform-aws-mwaa"]
	path = terraform-aws-mwaa
	url = git@github.com:c0x12c/terraform-aws-mwaa.git
	branch = master
[submodule "terraform-aws-kms"]
	path = terraform-aws-kms
	url = git@github.com:c0x12c/terraform-aws-kms.git
	branch = master
[submodule "terraform-aws-secret-manager"]
	path = terraform-aws-secret-manager
	url = git@github.com:c0x12c/terraform-aws-secret-manager.git
	branch = master
[submodule "terraform-aws-cloudwatch"]
	path = terraform-aws-cloudwatch
	url = git@github.com:c0x12c/terraform-aws-cloudwatch.git
	branch = master
[submodule "terraform-aws-github-self-hosted-runners"]
	path = terraform-aws-github-self-hosted-runners
	url = git@github.com:c0x12c/terraform-aws-github-self-hosted-runners.git
	branch = master
[submodule "terraform-aws-s3"]
	path = terraform-aws-s3
	url = git@github.com:c0x12c/terraform-aws-s3.git
	branch = master
